/*
Custom CSS styles that override base theme go here.
*/

body,
h2,
h1,
h1.page-title,
h1#page-title,
.schedule-block .view-grouping-header,
.view-faculty h3,
#content h2.block-title {
  color:#000;
}

.front .views-field-field-hero-image {
  width:100%;
  float:none;
}

.front .hero-copy {
  display:none;
}

.view-faculty h3 {
  padding-bottom:5px;
  display:none;
}

.region-secondary-content .cycle-pager span {
  background-color:#3c5790;
}

.region-secondary-content .cycle-pager span.cycle-pager-active {
  background-color:#1f2a69;
  border:1px solid #d91d2c;
}

.sidebar h3, .sidebar h2, .sidebar .earlybird {
  background:#3c5790;
}

.header-block {
  background-image:none;
  padding-right:0;
}

#block-block-3 {
  padding-top:20px;
}

.region-header .block {
  width:72%;
  float:left;
  margin-bottom:0;
}

.region-header .block-inner {
  margin-right:0;
}

.region-header .mobile {
  display:none;
}

.header-block p.course-name a {
  color:#d91d2c;
}

.custom-course-header {
  color: #544e49;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 1.62em; 
  font-weight:bold; 
}

.custom-course-date {
  font-size: 19px;
  line-height: 26px;  
  color: #544e49;
}

.header-block .course-venue-date,
.header-block .course-city-state {
  display:none;
}

.course-city-state {
  font-size: 18px;
  line-height: 16px;
  font-weight: normal;
}

.region-header .custom-header-logos {
  float:right;
  width:22%;
}

.region-header .custom-header-logos p {
  margin-bottom:0;
}

#block-block-6 {
  width:100%;
  max-width:300px;
  float:right;
}
/* custom sidebar */
.sidebar .custom-sidebar-red h2 {
  background:#830808;
}


.sidebar .custom-sidebar-red h2.red-white {
  background:#FFF;
  color:#830808;
  padding:0;
}

.sidebar .custom-sidebar-image {
  margin-bottom:0;
}

h1.custom-title {
  margin-top:0;
  font-size:18px;
  font-family:Arial, sans-serif;
}

h1.custom-title .pre-fix {
}

h1.custom-title .course-name {
  color:#830808;
  font-size:23px;
}


.nav ul.menu li.schedule {
  position:relative;
}

.nav ul.menu li.schedule ul.menu {
  width:100%;
  position:absolute;
  top:40px;
  display:none;
}

.nav ul.menu li.schedule:hover ul.menu {
  display:block;
  z-index:900;
}

.nav ul.menu li.schedule ul.menu li {
  float:none;
  display:block;
  width:100%;
  margin:0;
}

.nav ul.menu li.schedule ul.menu li a {
  white-space:normal;
  text-align: left;
  line-height: 17px;
  padding: 10px;
}

#breadcrumb {
  display:none;
}

.section-schedule h1,
.custom-schedule-header {
  margin:0;
}

h1.red-white {
  color:#FFF;
  background:#830808;
  padding:10px;
  font-family:Arial, sans-serif;
  margin-bottom:15px;
}

h1.red-white span {
  display:block;
}

h1.red-white .prefix-rw {
  font-size:18px;
  font-style:italic;
  line-height:20px;
}

h1.red-white .schedule-suffix-rw {
  font-size:20px;
  line-height: 20px;
  padding-top: 4px;
}

strong .red-white,
ul.quicktabs-tabs.quicktabs-style-basic li.active a {
  color:#830808;
}

ul.quicktabs-tabs.quicktabs-style-basic li {
  padding:10px 20px;
  border:1px solid #CCC;
  border-bottom:none;
  background:#efefef;
}

ul.quicktabs-tabs.quicktabs-style-basic li:hover {
  background:#FFF;
}

ul.quicktabs-tabs.quicktabs-style-basic li a {
  color:#555;
}

/*
 * ul.quicktabs-tabs.quicktabs-style-basic li.active,
ul.quicktabs-tabs.quicktabs-style-basic {
  border:none;
}*/

ul.quicktabs-tabs.quicktabs-style-basic {
  height:27px;
}

.sidebar .earlybird.earlybird-register {
  padding: 5px 17px;
  background:#544E49;
}

.menu li {
  background:#314781;
}

#main-content {
  background:#efefef;
}

.nav ul.menu li.active-trail {
  background:#1f2a69;
}

.nav ul.menu li.registration-information a {
  background:#d91d2c;  
}

.nav ul.menu li.registration-information:hover a,
.nav ul.menu li.registration-information.active-trail a {
  background:#b91f25;
}

.nav li a, .nav ul.menu li a {
  color:#FFF;
}

.nav ul.menu li a:hover {
  background:#3c5790;
}

h2 {
  font-size: 22px;
}

.sidebar .views-field-field-first-name {
  font-size:15px;
  color:#d91d2c;
}

.region-sidebar-first .block-content p a,
.field-name-body p a {
color: #0000FF;
}

.view-sponsors .views-field-title {
  font-weight:bold;
  color:#544e49;
}

.view-sponsors .view-content {
  padding-left:10px;
}

.contact-link {
  display:none;
}

.content-call-out li.register-link a {
  background: #d91d2c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5MWQyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOTFmMjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #d91d2c 0%, #b91f25 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d91d2c), color-stop(100%,#b91f25)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d91d2c 0%,#b91f25 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d91d2c 0%,#b91f25 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d91d2c 0%,#b91f25 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d91d2c 0%,#b91f25 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91d2c', endColorstr='#b91f25',GradientType=0 ); /* IE6-8 */
  border-top:none;
}

.content-call-out li.register-link a:hover {
  border-top:none;
  background:#b91f25;
  color:#FFF;
}

@media(max-width:768px) {
  .region-header .block {
    width:60%;
  }

  .header-block p.course-name a {
    line-height:22px;
  }

  .header-block p.course-prefix {
    font-size:17px;
  }

  .region-header .custom-header-logos {
    width:35%;
  }

  .custom-course-header {
    font-size:14px;
    line-height:27px;
  }

  .custom-course-date {
    font-size:13px;
  }
} /* end of 768 */

@media(max-width:600px) {

  .header-block p.course-name a {
    font-size:24px;
    line-height:30px;
  }
  .region-header .block {
    width:100%;
    float:none;
  }

  .region-header {
    position:relative;
  }

  .region-header .custom-header-logos {
    position:absolute;
    bottom:0;
  }
  .region-header .custom-header-logos .block-inner {
    width:240px;
    margin:0 auto;
  }
  
  .region-header .not-mobile {
    display:none;
  }

  .region-header .mobile {
    display:block;
  }

  .region-header .custom-header-bottom {
    margin-bottom:80px;
  }
  
  .header-block {
    padding-bottom:3%;
  }
}

@media(max-width:467px) {
  .region-sidebar-first,
  .region-sidebar-second {
    float:none !important;
    margin:20px auto !important;
    width:75% !important;
  } 
}
